# C++ object files
*.o

# Required files to generate pdf
mkidxhead.ist
tese.aux
tese.bbl
tese.bcf
tese.blg
tese.fdb_latexmk
tese.fls
tese.idx
tese.ilg
tese.ind
tese.lof
tese.log
tese.lop
tese.lot
tese.out
tese.run.xml
tese.synctex.gz
tese.toc
tese.pdf
tese.bcf-SAVE-ERROR
poster.aux
poster.bbl
poster.bcf
poster.blg
poster.fdb_latexmk
poster.fls
poster.idx
poster.ilg
poster.ind
poster.lof
poster.log
poster.lop
poster.lot
poster.out
poster.run.xml
poster.synctex.gz
poster.toc
poster.pdf
poster.bcf-SAVE-ERROR